/*Заготовки*/
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/*для прижимання футера вниз:
- задаємо висоту головним тегам
html, body{
    height: 100%;
}

- задаємо мінімальну висоту wrapper, і витягуємо по вертикалі
при цьому футер не прижметься донизу, якщо main не заповнений
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

- тепер задаємо пропорцію main, щоб він максимально розтягнувся
наскільки це можливо
.main{
    flex-grow: 1;
}

*/
html, body {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Стилізація*/

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

.header {
    background-color: #151515;
}

.header-main {
    background-color: transparent;
}

.header__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__list {
    display: flex;
    gap: 35px;
}

.menu__list-link {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: #ffffff;
}


.footer__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list {
    max-width: 225px;
}

.footer__menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item {
    padding-top: 20px;
}

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
}

.footer__copy {
    max-width: 806px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 12px;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main {
    flex-grow: 1;
}

.top {
    text-align: center;
    padding-top: 105px;
    padding-bottom: 50px;
}

.title {
    /*padding-top: 105px;*/
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top__link {
    /*для нормального застосування css
    для строкового елементу*/
    display: inline-block;
    background-color: #151515;
    color: #ffffff;
    padding: 23px;
    max-width: 430px;
    /*для застосування максимальної ширини прописуємо
    width 100%*/
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}